.landing-nav .navbar .nav {
  float:none!important;
  text-align: center!important;
}

.landing-nav .navbar-nav >li{
  float:none;
  display: inline-block;
  padding:8px 14px 8px 14px;
}

.landing-nav .navbar-nav >li > a{
font-family:'Capriola',sans-serif;font-size:200%!important;color:#1B809E!important;
}

.rules .form-control{
  background-color: #ddd;
}

.table-striped>tbody>tr:nth-of-type(odd){
  background-color: rgba(255,255,255,.3);
}

.table-striped>tbody>tr:hover{background-color:rgba(255, 255, 255, 0.4);;}
.navbar-default{
  background-color:rgba(255, 255, 255, 0.4);
}

.padsize li {font-size:20px;padding:15px;}
.sidebox{color:black;border-radius:10px;text-shadow:1px 1px 0px #888;border: 3px solid #1B809E;text-align:center;background-color:rgba(255, 255, 255, 0.85);}
.fontincr li a{font-size: 18px;}
.container{box-shadow: 0px 0px 8px #000;padding:5px 50px 50px 50px;
/* background-color: #fff;
background:rgba(255,255,255,0.7) */
}

.container1{box-shadow: 0px 0px 8px #000;background-color: rgba(255, 255, 255, 0.4);}
.navbar-right{margin-right: 5px}
.border-shadow{box-shadow: 0px 0px 8px #000}
.nav-justified {background-color: white}
.bodypad{
background: #1B809E; /* fallback for old browsers */
background-image: url("../img/technology.jpg")!important;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

  /*background-repeat: no-repeat!important;*/
  /*background-position: right top!important;*/
  /*background-attachment: fixed!important;*/
  /*background: -webkit-linear-gradient(to left, #1B809E , #5691c8);*/
  /*background: linear-gradient(to left, #1B809E , #5691c8);*/
  padding-top:0
}
.rules{border:5px solid #eee;border-radius: 5px;margin-bottom: 10px;background-color:rgba(255, 255, 255, 0.85)}
.nav li  a:hover {
background-color: #ddd;
box-shadow:0px 3px 7px rgba(0, 0, 0, 0.15) inset;
background-image: none;
}
.nav li  a{color:#1B809E;}

 @media screen and (max-width: 968px) {
.container-fluid{
    padding-right: 10px;
}

.padleft{padding-left:10px;}
.bodypad{
  background-image: url("../img/technology.jpg")!important;
  }
}


 @media screen and (max-width: 1200px){
.padleft{padding-left:10px!important;}


 }

.navbar-default .navbar-nav > li > a{
    color:#457fca;
    font-size: 20px;
}
@media screen and (max-width: 968px) {
.navbar-default .navbar-nav > li {
    font-weight: bold;
    margin-left: 20px;
}
}

.container-fluid{
    padding-right: 0
}

th,td{
    padding: 25px!important;
}
td{
    font-size: 17px;

}
.lboardh1{
    text-align:center;font-family:impact;font-size:45px;font-weight:bold; text-shadow:2px 2px #457FCA;
}

.footer {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

.footer img {
    display: inline!important;
    margin-left: 0.5em;
    max-height: 5em;
    max-width: 80%;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#particle {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0; 
}
#overlay {
  position: relative;
}